.c-white{color:white !important;}
.c-black{color:black !important;}
.c-blue{color:#7a9acc !important;}
.c-grey{color:#666 !important;}
.c-purple{color:#4c5e96;}
.mb-title{margin-bottom:60px !important;}
.mb-20{margin-bottom:20px !important;}
.pl-35{padding-left:35px;}
.bg-white{background:#fff;}
.bg-grey{background:#efefef;}
.bg-purple{background:#4c5e96;}
/*=====banner=====*/
.banner{position:relative;}
.full-width-img{width:100%;}
.line_bottom{border-bottom:1px solid #d7d7d7;}
.overflow-visible{overflow:visible; display:none;}
.fade{display:none;}
/*登录*/
.login-content{display:none; width:360px; padding:35px 20px 20px; border-radius:10px; box-shadow: rgba(0, 0, 0, 0.7) 0px 4px 12px 0px; font-size:14px; background:#fff; position:absolute; left:0; right:0; margin:0 auto;  top:22%; z-index:999; }
.login-top{margin-bottom:15px;}
.login-top a{color:#333; font-size:18px; display:inline-block; width:49%; line-height:30px; text-align:center;}
.login-top a:first-child{ border-right:1px solid #c8c8c8;}
.login-top a.active{color:#67bcf0;}
.login-close{display:block;width:30px; height:30px; text-align: center; line-height:30px; font-size:26px; color:#C0C0C0; position:absolute; top:0; right:0px; cursor: pointer;}
.login_cms{display:none;}
.form-group{width:100%; margin-bottom:20px;}
.input-group{padding-left:50px;height:50px; background:#f0f0f0;  border-radius:5px; position:relative;}
.icon{width:50px; height:50px; position:absolute; left:0; top:0;  background:#67bcf0; float:left; border-radius:5px 0 0 5px; background-repeat: no-repeat;background-position:center; background-size:30px 30px;}
.userIcon{background-image:url(../Images/login_icon_name.png);}
.pwdIcon{background-image:url(../Images/login_icon_password.png);}
.input-group span{display:inline-block; width:50px; color:#a0a0a0;}
.input-group input[type="text"],input[type="password"]{height:50px; width:100%; padding:0 15px; display:inline-block; outline: none; background:transparent; color:#333;}
.submit{border:0; outline:none; transition: background 0.5s; -webkit-transition: background 0.5s; width:100%; height:50px; cursor: pointer; background:#67bcf0; color:#fff; border-radius:5px; line-height:50px;}
.submit:hover{background:#52689f;}
.eye{display:inline-block; width:20px; height:20px; background:url(../Images/eye.png)no-repeat; background-size:20px 40px; background-position:0 0; cursor: pointer; position:absolute; top:15px; right:10px;}
.eye_close{ background-position:0 -20px;}
.closeBtn{position:absolute; right:15px; top:0; font-size:30px; cursor:pointer;}
.closeBtn:hover{opacity:0.7;}

/*=====section=====*/

/*视频*/
.videoBox{position:absolute; top:-25px; left:0; right:0;}
.videoBox>div{margin:0 auto;}
.my-video{width:55%; height:0;  padding-top:31%;}
.videoBox1{margin-bottom:60px;}
.videoBox1 .my-video{margin:0 auto;}

.section {width:100%; padding:55px 0; }
.section .title{text-align: center; color:#333; font-size:28px; line-height:2;}
.section .subTitle{ color:#333; font-size:28px; font-weight:bold; margin-bottom:10px;}
.section .subheading{ text-align: center; color:#333; font-size:28px; line-height:2;}
.section .intro{ font-size:22px; line-height:1.6; margin-top:0px; margin-bottom:10px;}
.smallTitle{font-size:16px; font-weight:bold; margin-bottom:10px;}
.smallIntro{font-size:16px;}
.text-indent{text-indent: 2em;}
.section .bigFont{text-align:center; font-size:36px; font-weight:bold;}
.imgTitle{text-align:center; font-size:16px; font-weight:bold; margin:10px 0 20px;}
.brand-p{position:relative;}
.brand1{width:100px; position:absolute; bottom:10px; margin-left:20px;}
.brand2{width:200px; position:absolute; bottom:10px; margin-left:20px;}
article{font-size:18px; line-height:30px;}
.border-left{border-left:5px solid #00adee; text-align: left;}
.img-group{width:100%; margin:20px auto; }
.img-group div{width:20%; float:left; }
.imgGroup1 img,.imgGroup2 img{margin:0 20px;}
/*module*/
.module{background:#efefef;}
.module .m-item{position:relative; margin:10px 0; background:#fff; font-size:18px; line-height:35px; color:#666; padding:20px 30px; border:1px solid #d4d4d5; -webkit-box-shadow:0px 0px 3px #d4d4d5; -moz-box-shadow:0px 0px 3px #d4d4d5; box-shadow:0px 0px 3px #d4d4d5;transition: all 0.5s;-webkit-transition: all 0.5s ease;}
.module .m-item:hover{background:#52689f; transform: scale(1.1); color:#fff;}
.small-title{font-size:24px; margin-bottom:5px;}
.m-img{width:120px; height:110px; position:absolute; right:17px; top:40px;}

/*team*/
.team{background:url(../Images/index_bg_03.png) no-repeat top center; background-size:cover;}
.t-item img{margin-bottom:50px;}
.t-item h2{margin-bottom:10px;} 
.t-item h4{margin-bottom:80px;}
/*circle*/
.circle{background:#fff;}
.circleBox{position: relative;}
.la-ball-scale-multiple{margin:0 auto;}
.circleText{font-size:20px; font-weight:bold; text-align: center; position:absolute;  left:0; right:0; transform:translateY(-50%); -webkit-transform:translateY(-50%);}
.circleText1{color:#6781cc; top:5%;}
.circleText2{color:#6781cc; top:15%;}
.circleText3{color:#E8E9EE; top:25%;}
.circleText4{color:#fff; top:35%;}
.circleText5{color:#ffb400; top:50%; font-size:28px;}
.circleText6{color:#fff; top:65%;}
.circleText7{color:#E8E9EE; top:75%;}
.circleText8{color:#6781cc; top:85%;}
.circleText9{color:#6781cc; top:95%;}

/*share*/
.share{background:#fff;}
.share .title{color:#666; margin-top:20px;}
.s-item{width:100%; position:relative; cursor: pointer; margin:0 auto 20px; overflow: hidden;}
.s-img{width:100%;}
.mask{width:100%; height:100%;position:absolute; top:0; left:0;}
.mask{ background:rgba(0,0,0,0.7);}
.yellow{width:100%; height:100%; background:#f4779c; position:absolute; top:100%; left:0;}
.s-text{position:absolute; top:50%; left:0; right:0; margin:0 auto; transform: translateY(-50%);}
.s-text span{font-size:30px; display:inline-block; border-top:3px solid #ff1e43; margin-top:12px; padding-top:12px;}

/*product*/
.product .item{display: flex; display:-webkit-flex; align-items: center; -webkit-align-items: center; justify-content: center; -webkit-justify-content:center ; margin-bottom:30px;}
.product .item img{margin-right:25px;}
.product .item p{color:#666; font-size:22px;}

/*=====footer=====*/
footer{color:#999;}
.f-top{background:#273141;}
.us{padding:40px 15px 10px;}
.contact{padding:10px 15px 40px; font-size:16px;}
.us a{color:#fff; cursor: pointer;}
.f-bottom{background:#1f2633; padding:20px 0;}
.code{width:160px; height:190px; background:#fff; float:left; margin-right:20px;}
.code .f-img{width:130px; height:130px; margin:15px;}


/*产品介绍*/
.center-nav{height:50px; background:#fff; box-shadow: rgba(0,0,0,0.3)0 1px 2px; margin-bottom:2px; text-align: center; z-index:99;}
.center-nav ul{display:inline-block; height:50px;}
.center-nav ul li{float:left; padding:0 30px; line-height:50px; font-size:16px; cursor:pointer; transition: all ease 0.5s;}
.center-nav ul li.active{background:#ff7ca2; color:#fff;}
.school_img{width:100px; height:100px; margin-bottom:10px; background-size:100px 200px; background-repeat: no-repeat; background-position:0 0;}
.school_img1{background-image: url(../Images/wx01_icon03_manage.png);}
.school_img2{background-image: url(../Images/wx01_icon02_consult.png);}
.school_img3{background-image: url(../Images/wx01_icon04_fia.png);}
.school_img4{background-image: url(../Images/wx01_icon01_sign.png);}
.school_img5{background-image: url(../Images/wx01_icon05_gift.png);}
.school_img6{background-image: url(../Images/wx01_icon06_edu.png);}
.school_img:hover{background-position:0 -100px;}
.align-center{display:flex; display:-webkit-flex; align-items: center; -webkit-align-items: center;}
.center{display:inline-block; }
.fix{position:fixed; top:0; left:0; right:0;}
@media (max-width:1200px) {
    .wrap{width: 1000px; margin: 0 auto;}
    .imgGroup1 img{width:320px;}
    .imgGroup2 img{width:260px;}
}